@using Microsoft.AspNetCore.SignalR

<script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/microsoft-signalr/5.0.13/signalr.min.js"></script>

<input type="text" id="x" placeholder="X Position" />
<input type="text" id="y" placeholder="Y Position" />
<input type="text" id="z" placeholder="Z Position" />
<button id="sendButton">Send Position</button>

<script>
    var connection = new signalR.HubConnectionBuilder().withUrl("/devicePositionHub").build();

    connection.on("OnPositionReceived", function (index, x, y, z) {
        // Handle received position data
        // Update the UI or take other actions
    });

    $("#sendButton").click(function () {
        var x = parseFloat($("#x").val());
        var y = parseFloat($("#y").val());
        var z = parseFloat($("#z").val());
        connection.invoke("BroadcastPosition", x, y, z);
    });

    connection.start().then(function () {
        console.log("Connected to DevicePositionHub");
    }).catch(function (err) {
        console.error(err.toString());
    });
</script>