@using RevisionVR.Service.DTOs.Positions;
@model UserPositionCreationDto;
<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <title>Real-Time Chat with SignalR</title>
    <script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/microsoft-signalr/5.0.13/signalr.min.js"></script>
</head>
<body>
    <div>
        <input type="text" id="username" placeholder="Enter your username" />
        <input type="text" id="main" placeholder="Enter your main position" />
        <input type="text" id="head" placeholder="Enter your head position" />
        <input type="text" id="leftHand" placeholder="Enter your left hand position" />
        <input type="text" id="rightHand" placeholder="Enter your right hand position" />
        <input type="text" id="deviceNumber" placeholder="Enter your device number position" />
        <button id="sendButton">Send</button>
    </div>
    <div id="chatBox"></div>
    <script>
        var connection = new signalR.HubConnectionBuilder().withUrl("/userPositionHub").build();

        connection.on("ReceivePosition", function (user, main, head, leftHand, rightHand, deviceNumber) {
            var encodedUser = $("<div />").text(user).html();
            var encodedMsg = $("<div />").text(main).html();
            var encodedHead = $("<div />").text(head).html();
            var encodedLeft = $("<div />").text(leftHand).html();
            var encodedRight = $("<div />").text(rightHand).html();
            var encodedDevice = $("<div />").text(deviceNumber).html();
            $("#chatBox").append("<p><strong>" + encodedUser + "</strong>: " + encodedMsg + ", "
                + encodedHead + ", " + encodedLeft + ", " + encodedRight + ", " + encodedDevice + "</p>");
        });

        $("#sendButton").click(function () {
            var user = $("#username").val();
            var main = $("#main").val();
            var head = $("#head").val();
            var leftHand = $("#leftHand").val();
            var rightHand = $("#rightHand").val();
            var deviceNumber = $("#deviceNumber").val();
            connection.invoke("SendPositionsAsync", user, main, head, leftHand, rightHand, deviceNumber);
            $("#main").val("").focus();
            $("#head").val("").focus();
            $("#leftHand").val("").focus();
            $("#rightHand").val("").focus();
        });

        connection.start().then(function () {
            console.log("Connected!");
        }).catch(function (err) {
            console.error(err.toString());
        });
    </script>
</body>
</html>